* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background_1.jfif");
    background-attachment: fixed;
}

section {
    margin: 6rem 0;
    color: aliceblue;
    text-align: center;
}

#bio {
    text-align: left;
}

header {
    margin-bottom: 4rem;
}

hr {
    background-color: greenyellow;
    width: 250px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#float-left {
    float: left;
    margin-right: 20px;
}

#float-right {
    float: right;
    margin-left: 20px;
    
}

#contact-form {
    text-align: left;
}

.github {
    display: block;
    margin-top: .5rem;
}

.img-project:hover {
    border: solid greenyellow;
}

.img-github {
    border-radius: 50%;
}


#contact-info {
    /* border: solid red; */
    margin: auto;
    margin-top: 2rem;
}


.icon {
    font-size: 50px;
    /* display: block; */
    text-align: left;
}

a {
    color: white;
}