* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background_1.jfif");
    background-attachment: fixed;
}


section {
    margin: 6rem 0;
    color: aliceblue;
    text-align: center;
}